
   
   <div class="container-fluid">

  
  <div class="d-flex row">

  <% @ideas.each do |idea| %>
     

    <div class="col-12">
     <div class="card mt-3">
      <div class="card-body">
        
         <i class="far fa-plus-square float-left mr-2 clickable-icon" > </i> 
          <h5 class="card-title ">   
         <%= link_to(idea.title, idea_path(idea.id)) %> 
        </h5>

                    <div class="idea_content" >
        
                        <p class="card-text">
                        
                        <%= idea.description %>  
                        </p>
                        <small>
                        <strong>
                        By  <%= idea.user&.first_name || "[DELETED]" %> 
                        </strong>
                        </small> <br>

                    <small>
                        Posted <%= time_ago_in_words(idea.created_at) %> ago
                    </small>
                </div> 


      </div>
      </div>
      </div>
   
  <% end %>
