
  <div class="row justify-content-md-center">
   <div class="col col-8">

<div class="modal-header">
     <h5 class="modal-title m-0">New idea</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<br>

<%= render 'form',  idea: @idea %>

</div>
</div>